* {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.css-10hburv-MuiTypography-roo {
  font-family: 'Open Sans', sans-serif !important;
}

.css-1p823my-MuiListItem-root {
  margin-bottom: -20px !important;
}

/* .css-tlelie-MuiListItemText-root {
  margin-bottom: -10px !important;
} */

.css-1p823my-MuiListItem-root {
  font-family: 'Open Sans', sans-serif !important;
}